<div class="sectionb">
  <div class="container"><link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<div class="facontainer">
<section class="wow fadeInDown" data-wow-delay="0.2s"><h2>Get in touch</h2></section>
<section class="wow fadeInDown" data-wow-delay="0.2s">
<p>This website is create by Manish kumar at Purnahiya Kothi ,ps-Ghorasahan,Motihari, Bihar</p></section>

<li class="wow fadeInDown" data-wow-delay="0.6s"><a href="https://www.facebook.com/Gurukulprep.Public.School/">
<i class="bd-ra fa fa-google-plus"></i></a>
</li>
<li class="wow fadeInDown" data-wow-delay="0.8s"><a href="https://www.facebook.com/Gurukulprep.Public.School/">
<i class="bd-ra fa fa-twitter"></i></a>
</li>
<li class="wow fadeInDown" data-wow-delay="1s"><a href="https://www.facebook.com/Gurukulprep.Public.School/">
<i class="fa fa-facebook"></i></a>
</li>
 <li class="wow fadeInDown" data-wow-delay="1.2s"><a href="https://www.facebook.com/Gurukulprep.Public.School/">
   <i class="bd-ra fa fa-pinterest"></i></a>
</li>
 <li class="wow fadeInDown" data-wow-delay="1.4s"><a href="https://github.com/JAIMAKALI/rips">
   <i class="bd-ra fa fa-linkedin"></i></a>
</li>
</div></div>
</div>
