
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GIPS</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- Navigation -->
    {{> header}}

    <!-- Header Carousel http://placehold.it/1900x1080&text=Slide Three -->


    <div class="grid_20" id="new_full_about">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/13902677_607562579426497_5610726583607785310_n.jpg?oh=e768462bc8cf5b8f996c23bd0cf11652&oe=5AE164B2" style="float: left;padding: 15px;padding-bottom:40px;margin-top: 10px; height: 260px;">
    <p style="padding-left:20px;">
        It is my pleasure to introduce one of the oldest Technological Institutes of North India National Institute of
        Technology Patna whose history goes back to 1876 when four survey schools were established in Dacca, Hoogly, Cuttack
        and Patna. The schools at Hoogly and Cuttack failed but those at Dacca and Patna continued to prosper. In 1882, a
        separate altogether, named as Bihar Industrial School, was opened in the premises of the survey school in Patna college
        campus. In July 1886, these two separate institutions were merged and given the name of Bihar School of Engineering
        under the leadership of Mr. A Ewbank, the then principal of Patna College. Between 1892 and 1902, a  functional building
        which is at present the main administrative building of NIT Patna, was built with Rs. 100,000/- donation from Nawab Lulf
        Ali Khan of Patna City. The balance amount of Rs. 38,000/- came from the Prince of Wales reception fund.
    </p>
    <p style="padding-left:20px;">
        Prof. C. R. Walford was the Principal of this college from 1900 to 1926. In 1924, the engineering school upgraded to
        Bihar College of Engineering under Patna University. In 2004, MHRD, Government of India upgraded Bihar College of
        Engineering to National Institute of Technology Patna and in 2007 it came under the act ‘NIT Act 2007’and declared
        Institute of National Importance.<br>
    At present NIT Patna is offering undergraduate programs (B. Tech &amp; B. Arch) and Post graduate program (M. Tech &amp; MRUP)
    along with Ph. D Programs. Total number of students are nearly 3000. The institute has state-of-art laboratories, in each
    department. This great institute has produced large number of alumni who served the nation with distinction like Mr. M. B.
    Verma, former Program Director of Prestigious LCA Project of DRDO, Dr. Ratan K. Sinha, Chairman Atomic Energy Commission
    of India, Mr. C. Prasad, Ex. D G CPWD to name a few.
    </p>
    <p style="padding-left:20px;">
        The Institute has a very active linkage with industry from its inception. Different PSUs are awarding scholarships to our
        students. The institute  has  established Center of Excellence in Computer Engineering in collaboration with Hewlett
        Packard.
    </p>
    <p style="padding-left:20px;">
        All our passed out graduates are serving the Indian Industry and PSUs with distinction.
    </p>
    <p style="padding-left:20px;">
        I appreciate the efforts of our vibrant Training and Placement Cell who are in constant touch with industries for the
        training and placement of our students. I am sure our recruiters find our students very competent and they will be
        visiting us regularly.
    </p>
    <p style="padding-left:20px;">We look forward towards enduring and fruitful relationship with our esteemed recruiters.</p>
    <p style="padding-left:20px;">I wish Training &amp; Placement Cell all the success.</p>
    <p style="padding-left:20px;"><b>Prabhat Kumar<br>
    Director, GIPS</b></p>
    </div>



{{> footer}}


        <!-- /.row -->


    <!-- jQuery -->
	 <script>

   // $(document).ready(function() {

   // $("#owl-demo").owlCarousel({

    //autoPlay: 3000, //Set AutoPlay to 3 seconds
    //navigation : true, // Show next and prev buttons
    //slideSpeed : 300,
    //paginationSpeed : 400,
    //singleItem:true,

    // "singleItem:true" is a shortcut for:
    // items : 1,
    // itemsDesktop : false,
    // itemsDesktopSmall : false,
    // itemsTablet: false,
    // itemsMobile : false

    //});

    //});


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
