
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jnan Jyoti</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- Navigation -->
    {{> header}}

    <!-- Header Carousel http://placehold.it/1900x1080&text=Slide Three -->


    <div class="grid_20" id="new_full_about">
    <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/13902677_607562579426497_5610726583607785310_n.jpg?oh=e768462bc8cf5b8f996c23bd0cf11652&oe=5AE164B2" style="float: left;padding: 15px;padding-bottom:40px;margin-top: 10px; height: 260px;">
    <p style="padding-left:20px;">
      Great pleasure embraces ne as i use this forum once again to communicate with that bracket of society which in togetherness with her school fraternities are entrusted the mammoth task of chiseling the lives of the future generations. It is our privilege, and a huge responsibility must add, that we as educations and you as parents shoulder that of educating the young minds and souls. Perhaps learns only that particular thing he/she is studying at the time.

Collateral Learning is the for reaction of enduring attitudes the ability to differentiate between good and evil may be and often is as the month lesson that learns for these attitudes fundamentally what count in the future
    </p>
    <p style="padding-left:20px;">
      Great pleasure embraces ne as i use this forum once again to communicate with that bracket of society which in togetherness with her school fraternities are entrusted the mammoth task of chiseling the lives of the future generations. It is our privilege, and a huge responsibility must add, that we as educations and you as parents shoulder that of educating the young minds and souls. Perhaps learns only that particular thing he/she is studying at the time.

Collateral Learning is the for reaction of enduring attitudes the ability to differentiate between good and evil may be and often is as the month lesson that learns for these attitudes fundamentally what count in the future
    </p>
    <p style="padding-left:20px;">
        The Institute has a very active linkage with industry from its inception. Different PSUs are awarding scholarships to our
        students. The institute  has  established Center of Excellence in Computer Engineering in collaboration with Hewlett
        Packard.
    </p>
    <p style="padding-left:20px;">
        All our passed out graduates are serving the Indian Industry and PSUs with distinction.
    </p>
    <p style="padding-left:20px;">
      Students are excited to have this opportunity. It gets them thinking about their future—and helps us engage them in meaningful conversation about what they plan to do when they graduate.
    </p>
    <p style="padding-left:20px;">We look forward towards enduring and fruitful relationship with our esteemed recruiters.</p>
    <p style="padding-left:20px;">I wish future of all student will be brighter</p>
    <p style="padding-left:20px;"><b>Prabhat Kumar<br>
    Director, GIPS</b></p>
    </div>



{{> footer}}


        <!-- /.row -->


    <!-- jQuery -->
	 <script>

   // $(document).ready(function() {

   // $("#owl-demo").owlCarousel({

    //autoPlay: 3000, //Set AutoPlay to 3 seconds
    //navigation : true, // Show next and prev buttons
    //slideSpeed : 300,
    //paginationSpeed : 400,
    //singleItem:true,

    // "singleItem:true" is a shortcut for:
    // items : 1,
    // itemsDesktop : false,
    // itemsDesktopSmall : false,
    // itemsTablet: false,
    // itemsMobile : false

    //});

    //});


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
