
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GIPS</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- Navigation -->
    {{> header}}

    <!-- Header Carousel http://placehold.it/1900x1080&text=Slide Three -->

    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/22365386_1691716404180304_3497822345976261918_n.jpg?oh=acf6cc02e27824a5313496594d16ba7e&oe=5B2083DA');"></div>
                <div class="carousel-caption">
                    <h2>School bulding</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/21762240_1676973762321235_4132272554043253022_n.jpg?oh=8bdd25245b9d51fc9e9302f064bd1d9b&oe=5AE9B69E');"></div>
                <div class="carousel-caption">
                    <h2>Assembly in the morning</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/14102649_1254968331188449_3578088761299492564_n.jpg?oh=d78801973f3e3a34696b4953063e8e18&oe=5B26C61B');"></div>
                <div class="carousel-caption">
                    <h2>Our Campus</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>


    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
           <section class="wow fadeInRight" data-wow-delay="0.5s">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Gurukul International Public School
                </h1>
            </div>
          </section>

            <div class="col-md-4">
               <section class="wow fadeInDown" data-wow-delay="0.5s" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Patron's Message</h4>
                    </div>
                    <div class="panel-body">
                        <p><img class="alignleft  wp-image-314" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxAApxVib8nfzzkA-0TnYgHBMUJ5cz2UIdC1tDjg0uPl2beq4E" alt="patron-message" width="116" height="142" />A teacher who establishes rapport with the taught, becomes one with them, learns more from them than he teaches them. He who learns nothing from his disciples is, in my opinion, worthless. Whenever I talk with someone I learn from him. I take from him more than I give him. In this way, a true teacher regards himself as a student of his students. If you will teach your pupils with this attitude, you will benefit much from them.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
              </section>
            </div>

            <div class="col-md-4">
              <section class="wow fadeInDown" data-wow-delay="0.5s">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> From Chairman's Desk</h4>
                    </div>
                    <div class="panel-body">
                        <p><img class="alignleft  wp-image-314" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/13902677_607562579426497_5610726583607785310_n.jpg?oh=e768462bc8cf5b8f996c23bd0cf11652&oe=5AE164B2" alt="patron-message" width="116" height="142" />Great pleasure embraces ne as i use this forum once again to communicate with that bracket of society which in togetherness with her school fraternities are entrusted the mammoth task of chiseling the lives of the future generations. It is our privilege, and a huge responsibility must add, that we as educations and you as parents shoulder that of educating the young minds</p>
                        <a href="/director" class="btn btn-default">Learn More</a>
                    </div>
                </div>
              </section>
            </div>


            <div class="col-md-4">
              <section class="wow fadeInDown" data-wow-delay="0.5s">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> From the principal</h4>
                    </div>
                    <div class="panel-body">
                        <p>RIPS Provides its students safe, nurturing environment where faculty and staff “go the extera mile” to meet their needs Apart from inspiring students to achieve best possible academic results they are encouraged to acquire habits of curiosity mental flexibility self discipline and maintain openness of mind dignity of conduct and mutual respect</p>
                        <a href="/director" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>

           </section>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <section class="wow fadeInRight" data-wow-delay="0.5s">
                    <h2 class="page-header">Image Gallery</h2>
                </section>
            </div>
            <div class="col-md-4 col-sm-6">
              <section class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" id="gallery" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c0.21.200.200/p200x200/23561780_1724379900913954_8360869503227735174_n.jpg?oh=935e2c2c77dd78047d344e52993a62ff&oe=5B1B292F" alt="">
                </a>
              </section>
            </div>
            <div class="col-md-4 col-sm-6">
            <section class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/23517837_1724379490913995_1542391192005115928_n.jpg?oh=2f077d75cca7ed1f11206407a0b2d3ca&oe=5AE0A8F6">
                    <img class="img-responsive img-portfolio img-hover" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/23517837_1724379490913995_1542391192005115928_n.jpg?oh=2f077d75cca7ed1f11206407a0b2d3ca&oe=5AE0A8F6" alt="">
                </a>
                </section>
            </div>
            <div class="col-md-4 col-sm-6">
            <section class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/23559787_1724379634247314_8724592995506119324_n.jpg?oh=40e4530d70f98987febc93ed74d3b206&oe=5B24B245">
                    <img class="img-responsive img-portfolio img-hover" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c0.0.200.200/p200x200/23559787_1724379634247314_8724592995506119324_n.jpg?oh=40e4530d70f98987febc93ed74d3b206&oe=5B24B245" alt="">
                </a>
             </section>
            </div>
            <div class="col-md-4 col-sm-6">
            <section class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c34.0.200.200/p200x200/14102725_1254969287855020_3109656085946896033_n.jpg?oh=a4ae905687098801a506f6e73395e677&oe=5B1EC9D5">
                    <img class="img-responsive img-portfolio img-hover" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c34.0.200.200/p200x200/14102725_1254969287855020_3109656085946896033_n.jpg?oh=a4ae905687098801a506f6e73395e677&oe=5B1EC9D5" alt="">
                </a>
            </section>
            </div>
            <div class="col-md-4 col-sm-6">
            <section class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c45.0.200.200/p200x200/14045681_1254968057855143_5386505688591815137_n.jpg?oh=3df7c8a15fe29a51d8ed434eafd4e597&oe=5AEB3891">
                    <img class="img-responsive img-portfolio img-hover" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c45.0.200.200/p200x200/14045681_1254968057855143_5386505688591815137_n.jpg?oh=3df7c8a15fe29a51d8ed434eafd4e597&oe=5AEB3891" alt="">
                </a>
            </section>
            </div>
            <div class="col-md-4 col-sm-6">
            <section class="wow fadeInDown" data-wow-delay="0.5s">
                <a href="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c1.0.200.200/p200x200/21766836_1676996702318941_5491804185289495862_n.jpg?oh=c90b993d5cef27f504945238522a5a3a&oe=5ADCE67E">
                    <img class="img-responsive img-portfolio img-hover" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-0/c1.0.200.200/p200x200/21766836_1676996702318941_5491804185289495862_n.jpg?oh=c90b993d5cef27f504945238522a5a3a&oe=5ADCE67E" alt="">
                </a>
                </section>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <section class="wow fadeInRight" data-wow-delay="0.5s">
                    <h2 class="page-header">Modern School Features</h2>
                </section>
            </div>
            <div class="col-md-6">
            <section class="wow fadeInDown" data-wow-delay="0.5s">
                <p>The Modern Features of school</p>
                <ul>
                    <li><strong>Teaching quatily is very good</strong>
                    </li>
                    <li>Libraries</li>
                    <li>Hostel for boys and girls</li>
                    <li>Computer lab</li>
                    <li>Smart class</li>
                    <li>Physics and chemisstry lab</li>
                    <li>Playground </li>
                </ul>
                <p>We provides evrything which should be helpful for students.we are always refeshing our syllabus accrording to the new eduation pattern.</p>
             </section>
            </div>
            <div class="col-md-6">
                <section class="wow fadeInDown" data-wow-delay="0.5s">
                    <img class="img-responsive" src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/15966266_686101568239264_4612656429953451634_n.jpg?oh=d012d68f14159fbda401426efac024c2&oe=5AD91B2F" alt="">
                </section>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Notice will be come Here</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; manish Kumar 2018</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

  <div class="sectiona">
         <!-- Portfolio Section -->




<div id="owl-demo" class="owl-carousel owl-theme">
  <div class="item"><h2>Quotes</h2><p>“What we are doing to the forests of the world is but a mirror refection of what we are doing to ourselves and to one another.”</p>
  </div>

</div>




{{> footer}}

</div>
        <!-- /.row -->


    <!-- jQuery -->
	 <script>

   // $(document).ready(function() {

   // $("#owl-demo").owlCarousel({

    //autoPlay: 3000, //Set AutoPlay to 3 seconds
    //navigation : true, // Show next and prev buttons
    //slideSpeed : 300,
    //paginationSpeed : 400,
    //singleItem:true,

    // "singleItem:true" is a shortcut for:
    // items : 1,
    // itemsDesktop : false,
    // itemsDesktopSmall : false,
    // itemsTablet: false,
    // itemsMobile : false

    //});

    //});


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
