
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GIPS</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- Navigation -->
    {{> header}}

    <!-- Header Carousel http://placehold.it/1900x1080&text=Slide Three -->


    <div class="grid_20" id="new_full_about">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIIyhnhYoM9Mnv4ju9KcOMXExhcnwyO6gK9BS6LKpDr2UmUtpf" style="float: left;padding: 15px;padding-bottom:40px;margin-top: 10px; height: 260px;">
    <p style="padding-left:20px;">
      The purpose of your school library is to help every member of your school community — students, staff, families and whānau —
       gain new knowledge, skills and dispositions for learning and personal development that they will use throughout their lives.
    </p>
    <p style="padding-left:20px;">
       school library encourages curiosity, innovation and problem-solving. It is integral to the cultural and social life of the school. The school library is a central point for
       all kinds of reading, cultural activities, access to information, knowledge building, deep thinking and lively discussion.
    </p>
    <p style="padding-left:20px;">
       library’s collections, services and environment are all designed to help your school meet its targets and goals for raising
      student achievement. Record your vision and principles for managing your library in your school's library guiding documents.
    </p>
    <p style="padding-left:20px;"><b>Prabhat Kumar<br>
    Director, GIPS</b></p>
    </div>



{{> footer}}


        <!-- /.row -->


    <!-- jQuery -->
	 <script>

   // $(document).ready(function() {

   // $("#owl-demo").owlCarousel({

    //autoPlay: 3000, //Set AutoPlay to 3 seconds
    //navigation : true, // Show next and prev buttons
    //slideSpeed : 300,
    //paginationSpeed : 400,
    //singleItem:true,

    // "singleItem:true" is a shortcut for:
    // items : 1,
    // itemsDesktop : false,
    // itemsDesktopSmall : false,
    // itemsTablet: false,
    // itemsMobile : false

    //});

    //});


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
