
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jnan Jyoti</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- Navigation -->
    {{> header}}

    <!-- Header Carousel http://placehold.it/1900x1080&text=Slide Three -->


    <div class="grid_20" id="new_full_about">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIIyhnhYoM9Mnv4ju9KcOMXExhcnwyO6gK9BS6LKpDr2UmUtpf" style="float: left;padding: 15px;padding-bottom:40px;margin-top: 10px; height: 260px;">
    <p style="padding-left:20px;">
      The school playground provides a safe outdoors environment within the school that stimulates children to use their creative energy in healthy interactions with one another.

    </p>
    <p style="padding-left:20px;">
      The most enchanting schools always have large, open playgrounds with interesting play equipment that leaves many options for creativity.
    </p>
    <p style="padding-left:20px;">
      Children sit at their classroom desk for many hours each day. They are given breaks in between where they go outdoors to the playground. The key to these playgrounds is choice: use the play equipment, run on the field, jump rope, play basketball, or create some new game to challenge friends. A good playground will be large with
      many different surfaces (blacktop, grass, sand, etc.) to stimulate choice and leave options open.
    </p>
    <p style="padding-left:20px;">
    The playgrounds must be spacious and outdoors, but they must also be secluded so that the children (and their parents) feel safe and do not have to consider the outside world. A good playground will allow for anyone on the playground (including the teacher) to see all that is going on, but will not have any connections or visibility to the street or any location off school grounds. At the same time, it should seem open and spacious. Thus, some high walls are necessary, but using the school buildings as boundaries as well can preserve the open feeling of the playground.
    </p>
    <p style="padding-left:20px;">
    The playgrounds must be spacious and outdoors, but they must also be secluded so that the children (and their parents) feel safe and do not have to consider the outside world. A good playground will allow for anyone on the playground (including the teacher) to see all that is going on, but will not have any connections or visibility to the street or any location off school grounds. At the same time, it should seem open and spacious. Thus, some high walls are necessary, but using the school buildings as boundaries as well can preserve the open feeling of the playground.
    </p>
    <p style="padding-left:20px;"><b>Prabhat Kumar<br>
    Director, GIPS</b></p>
    </div>



{{> footer}}


        <!-- /.row -->


    <!-- jQuery -->
	 <script>

   // $(document).ready(function() {

   // $("#owl-demo").owlCarousel({

    //autoPlay: 3000, //Set AutoPlay to 3 seconds
    //navigation : true, // Show next and prev buttons
    //slideSpeed : 300,
    //paginationSpeed : 400,
    //singleItem:true,

    // "singleItem:true" is a shortcut for:
    // items : 1,
    // itemsDesktop : false,
    // itemsDesktopSmall : false,
    // itemsTablet: false,
    // itemsMobile : false

    //});

    //});


</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
